In [112]:
import pandas as pd
import numpy as np
from IPython.display import display
import statistics
import pyomo.environ as pyo
from pyomo.environ import *
from pyomo.opt import SolverFactory

In [40]:
df = pd.read_csv('maxreturngivenrisk.csv')
pd.options.display.max_columns = None
display(df)

,Price Matrix,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Timestamp(months),Stock 1,Stock 2,Stock 3,Stock 4,Stock 5,Stock 6,Stock 7,Stock 8,Stock 9,Stock 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,30,35,100,150,10,25,75,600,250,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,29.40,35.00,101.00,144.00,10.10,25.75,75.75,648.00,260.00,273.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,30.28,33.95,102.01,141.12,10.40,26.01,78.02,686.88,241.80,281.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,28.47,34.63,104.05,141.12,10.61,26.79,80.36,734.96,246.64,292.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,28.75,36.71,104.05,141.12,10.82,27.32,81.97,764.36,261.43,286.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,29.90,38.54,105.09,141.12,10.82,27.87,84.43,817.87,269.28,292.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6,30.50,38.16,105.09,135.48,11.04,28.71,87.81,858.76,261.20,277.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7,30.19,40.45,107.19,131.41,11.26,29.28,92.20,944.63,245.53,308.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8,31.10,40.04,107.19,128.78,11.37,30.16,91.28,982.42,230.80,360.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9,29.85,42.44,109.34,127.49,11.71,30.46,90.36,1011.89,244.64,364.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,28.06,42.87,110.43,127.49,11.95,31.07,92.17,1123.20,239.75,353.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,27.50,42.01,110.43,123.67,12.19,32.00,92.17,1246.75,249.34,378.07,NaN,NaN,NaN,NaN,"covar(x,x) = 1.stdev(x).stdev(x) = var(x)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,29.15,44.95,109.33,118.72,12.19,32.64,90.33,1284.16,256.82,400.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,covar,NaN,NaN,"covar(x,y) = correl(x,y). Stdev(x). Stdev(y)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Returns Matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.04167E-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Timestamp(months),Stock 1,Stock 2,Stock 3,Stock 4,Stock 5,Stock 6,Stock 7,Stock 8,Stock 9,Stock 10,NaN,Stock 3,Stock 4,NaN,6.04167E-05,Stock 1,Stock 2,Stock 3,Stock 4,Stock 5,Stock 6,Stock 7,Stock 8,Stock 9,Stock 10
17,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stock 1,0.001430556,0.000119444,-0.000229167,-0.000223611,-0.000188889,-2.91667E-05,-0.000115278,-0.000540278,-0.000352778,0.000669444
18,1,-0.02,0.00,0.01,-0.04,0.01,0.03,0.01,0.08,0.04,-0.09,NaN,0.01,-0.04,NaN,Stock 2,0.000119444,0.001213889,3.75E-05,0.000131944,-9.44444E-05,-9.58333E-05,-6.80556E-05,-0.000309722,0.000727778,0.000105556
19,2,0.03,-0.03,0.01,-0.02,0.03,0.01,0.03,0.06,-0.07,0.03,NaN,0.01,-0.02,NaN,Stock 3,-0.000229167,3.75E-05,8.54167E-05,6.04167E-05,4.16667E-05,-1.875E-05,8.95833E-05,8.125E-05,-3.33333E-05,-4.16667E-05
20,3,-0.06,0.02,0.02,0.00,0.02,0.03,0.03,0.07,0.02,0.04,NaN,0.02,0.00,NaN,Stock 4,-0.000223611,0.000131944,6.04167E-05,0.000257639,2.77778E-05,-3.54167E-05,5.34722E-05,1.18056E-05,0.000147222,-1.38889E-05
21,4,0.01,0.06,0.00,0.00,0.02,0.02,0.02,0.04,0.06,-0.02,NaN,0.00,0.00,NaN,Stock 5,-0.000188889,-9.44444E-05,4.16667E-05,2.77778E-05,8.88889E-05,-2.5E-05,5.27778E-05,2.77778E-05,-8.05556E-05,-7.77778E-05
22,5,0.04,0.05,0.01,0.00,0.00,0.02,0.03,0.07,0.03,0.02,NaN,0.01,0.00,NaN,Stock 6,-2.91667E-05,-9.58333E-05,-1.875E-05,-3.54167E-05,-2.5E-05,5.20833E-05,2.08333E-06,5.20833E-05,8.33333E-06,1.66667E-05
23,6,0.02,-0.01,0.00,-0.04,0.02,0.03,0.04,0.05,-0.03,-0.05,NaN,0.00,-0.04,NaN,Stock 7,-0.000115278,-6.80556E-05,8.95833E-05,5.34722E-05,5.27778E-05,2.08333E-06,0.000440972,0.000249306,-0.000402778,-0.000313889
24,7,-0.01,0.06,0.02,-0.03,0.02,0.02,0.05,0.10,-0.06,0.11,NaN,0.02,-0.03,NaN,Stock 8,-0.000540278,-0.000309722,8.125E-05,1.18056E-05,2.77778E-05,5.20833E-05,0.000249306,0.000790972,-0.000227778,-0.000105556
25,8,0.03,-0.01,0.00,-0.02,0.01,0.03,-0.01,0.04,-0.06,0.17,NaN,0.00,-0.02,NaN,Stock 9,-0.000352778,0.000727778,-3.33333E-05,0.000147222,-8.05556E-05,8.33333E-06,-0.000402778,-0.000227778,0.002155556,-0.001338889
26,9,-0.04,0.06,0.02,-0.01,0.03,0.01,-0.01,0.03,0.06,0.01,NaN,0.02,-0.01,NaN,Stock 10,0.000669444,0.000105556,-4.16667E-05,-1.38889E-05,-7.77778E-05,1.66667E-05,-0.000313889,-0.000105556,-0.001338889,0.004655556
27,10,-0.06,0.01,0.01,0.00,0.02,0.02,0.02,0.11,-0.02,-0.03,NaN,0.01,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11,-0.02,-0.02,0.00,-0.03,0.02,0.03,0.00,0.11,0.04,0.07,NaN,0.00,-0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,12,0.06,0.07,-0.01,-0.04,0.00,0.02,-0.02,0.03,0.03,0.06,NaN,-0.01,-0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Mean return,0.00,0.02,0.01,-0.02,0.02,0.02,0.02,0.07,0.00,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,std dev of return,0.037822686,0.034840908,0.009242114,0.016051134,0.00942809,0.007216878,0.020999339,0.028124228,0.046427961,0.068231632,NaN,"m,n",NaN,"o,p",NaN,m=o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,variance of return,0.001430556,0.001213889,8.54167E-05,0.000257639,8.88889E-05,5.20833E-05,0.000440972,0.000790972,0.002155556,0.004655556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,portfolio,0.08511125,0.087992347,0,0,0.320601477,0.365002751,0,0.140397786,0.000894389,0,1.0,non-negative fraction between 0 and 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,exp ret (portfolio),0.024566404,NaN,NaN,NaN,ipopt solver in python,NaN,NaN,NaN,NaN,NaN,NaN,"Wa^2.VarA + Wb^2.VarB + 2. Covar(A,B)",NaN,NaN,NaN,NaN,"CORREL(A,B). STDEVA. STDEVB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,exp var (portfolio),1.1E-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wa,Wb,NaN,Covar,NaN,Wa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1*2 matrix,NaN,NaN,2*2matrix,NaN,Wb,2*1 matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,upper cap of risk,0.00001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,NaN,NaN,Covar,NaN,Transpose(W),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1*10 matrix,NaN,NaN,10*10 matrix,NaN,10*1 matrix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
s_prices = df.iloc[1:14,1:11]

In [52]:
s_prices

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,30,35,100,150,10,25,75,600,250,300
2,29.40,35.00,101.00,144.00,10.10,25.75,75.75,648.00,260.00,273.00
3,30.28,33.95,102.01,141.12,10.40,26.01,78.02,686.88,241.80,281.19
4,28.47,34.63,104.05,141.12,10.61,26.79,80.36,734.96,246.64,292.44
5,28.75,36.71,104.05,141.12,10.82,27.32,81.97,764.36,261.43,286.59
6,29.90,38.54,105.09,141.12,10.82,27.87,84.43,817.87,269.28,292.32
7,30.50,38.16,105.09,135.48,11.04,28.71,87.81,858.76,261.20,277.70
8,30.19,40.45,107.19,131.41,11.26,29.28,92.20,944.63,245.53,308.25
9,31.10,40.04,107.19,128.78,11.37,30.16,91.28,982.42,230.80,360.65
10,29.85,42.44,109.34,127.49,11.71,30.46,90.36,1011.89,244.64,364.26
11,28.06,42.87,110.43,127.49,11.95,31.07,92.17,1123.20,239.75,353.33
12,27.50,42.01,110.43,123.67,12.19,32.00,92.17,1246.75,249.34,378.07
13,29.15,44.95,109.33,118.72,12.19,32.64,90.33,1284.16,256.82,400.75

In [69]:
returns= pd.DataFrame(columns= s_prices.columns, index= s_prices.index)
print(returns)

   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN        NaN        NaN
6         NaN        NaN        NaN        NaN        NaN        NaN
7         NaN        NaN        NaN        NaN        NaN        NaN
8         NaN        NaN        NaN        NaN        NaN        NaN
9         NaN        NaN        NaN        NaN        NaN        NaN
10        NaN        NaN        NaN        NaN        NaN        NaN
11        NaN        NaN        NaN        NaN        NaN        NaN
12        NaN        NaN        NaN        NaN        NaN        NaN
13        NaN        NaN        NaN        NaN        NaN        NaN

   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10
1         NaN        NaN        NaN         NaN
2         NaN        NaN        NaN         NaN
3         NaN        NaN        NaN         NaN
4         NaN        NaN        NaN         NaN
5         NaN        NaN        NaN         NaN
6         NaN        NaN        NaN         NaN
7         NaN        NaN        NaN         NaN
8         NaN        NaN        NaN         NaN
9         NaN        NaN        NaN         NaN
10        NaN        NaN        NaN         NaN
11        NaN        NaN        NaN         NaN
12        NaN        NaN        NaN         NaN
13        NaN        NaN        NaN         NaN

In [72]:
for i in range(1,13):
    for j in range(0,10):
        returns.iloc[i,j]= (float(s_prices.iloc[i,j]) - float(s_prices.iloc[i-1,j]))/float(s_prices.iloc[i-1,j])
returns

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.02,0.0,0.01,-0.04,0.01,0.03,0.01,0.08,0.04,-0.09
3,0.029932,-0.03,0.01,-0.02,0.029703,0.010097,0.029967,0.06,-0.07,0.03
4,-0.059775,0.020029,0.019998,0.0,0.020192,0.029988,0.029992,0.069998,0.020017,0.040009
5,0.009835,0.060064,0.0,0.0,0.019793,0.019784,0.020035,0.040002,0.059966,-0.020004
6,0.04,0.04985,0.009995,0.0,0.0,0.020132,0.030011,0.070006,0.030027,0.019994
7,0.020067,-0.00986,0.0,-0.039966,0.020333,0.03014,0.040033,0.049996,-0.030006,-0.050014
8,-0.010164,0.06001,0.019983,-0.030041,0.019928,0.019854,0.049994,0.099993,-0.059992,0.110011
9,0.030142,-0.010136,0.0,-0.020014,0.009769,0.030055,-0.009978,0.040005,-0.059993,0.169992
10,-0.040193,0.05994,0.020058,-0.010017,0.029903,0.009947,-0.010079,0.029997,0.059965,0.01001
11,-0.059966,0.010132,0.009969,0.0,0.020495,0.020026,0.020031,0.110002,-0.019989,-0.030006
12,-0.019957,-0.020061,0.0,-0.029963,0.020084,0.029932,0.0,0.109998,0.04,0.07002
13,0.06,0.069983,-0.009961,-0.040026,0.0,0.02,-0.019963,0.030006,0.029999,0.059989

In [104]:
returns = returns.astype('float64')
covmat = returns.cov()
covmat

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
Unnamed: 1,0.001208,-0.000110,-0.000136,-0.000008,-1.314484e-04,-0.000061,8.240907e-05,-0.000472,-0.000365,0.000619
Unnamed: 2,-0.000110,0.001017,0.000113,0.000258,-3.312120e-05,-0.000104,8.879132e-05,-0.000200,0.000660,0.000004
Unnamed: 3,-0.000136,0.000113,0.000058,0.000023,1.643897e-05,-0.000021,3.235536e-05,0.000029,0.000004,0.000006
Unnamed: 4,-0.000008,0.000258,0.000023,0.000297,-2.889790e-05,-0.000079,-1.707902e-05,-0.000162,0.000308,0.000157
Unnamed: 5,-0.000131,-0.000033,0.000016,-0.000029,7.152969e-05,-0.000016,1.864724e-07,0.000010,-0.000075,-0.000068
Unnamed: 6,-0.000061,-0.000104,-0.000021,-0.000079,-1.619111e-05,0.000070,-4.489795e-06,0.000095,-0.000041,-0.000029
Unnamed: 7,0.000082,0.000089,0.000032,-0.000017,1.864724e-07,-0.000004,3.246519e-04,0.000136,-0.000320,-0.000209
Unnamed: 8,-0.000472,-0.000200,0.000029,-0.000162,1.028811e-05,0.000095,1.363035e-04,0.000817,-0.000289,-0.000142
Unnamed: 9,-0.000365,0.000660,0.000004,0.000308,-7.484742e-05,-0.000041,-3.197318e-04,-0.000289,0.002245,-0.001268
Unnamed: 10,0.000619,0.000004,0.000006,0.000157,-6.806588e-05,-0.000029,-2.091489e-04,-0.000142,-0.001268,0.004703

In [91]:
returns.loc[13]=[None, None, None, None, None, None, None, None, None, None]
returns
returns.loc[14]=[None, None, None, None, None, None, None, None, None, None]
returns

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.02,0.0,0.01,-0.04,0.01,0.03,0.01,0.08,0.04,-0.09
3,0.029932,-0.03,0.01,-0.02,0.029703,0.010097,0.029967,0.06,-0.07,0.03
4,-0.059775,0.020029,0.019998,0.0,0.020192,0.029988,0.029992,0.069998,0.020017,0.040009
5,0.009835,0.060064,0.0,0.0,0.019793,0.019784,0.020035,0.040002,0.059966,-0.020004
6,0.04,0.04985,0.009995,0.0,0.0,0.020132,0.030011,0.070006,0.030027,0.019994
7,0.020067,-0.00986,0.0,-0.039966,0.020333,0.03014,0.040033,0.049996,-0.030006,-0.050014
8,-0.010164,0.06001,0.019983,-0.030041,0.019928,0.019854,0.049994,0.099993,-0.059992,0.110011
9,0.030142,-0.010136,0.0,-0.020014,0.009769,0.030055,-0.009978,0.040005,-0.059993,0.169992
10,-0.040193,0.05994,0.020058,-0.010017,0.029903,0.009947,-0.010079,0.029997,0.059965,0.01001
11,-0.059966,0.010132,0.009969,0.0,0.020495,0.020026,0.020031,0.110002,-0.019989,-0.030006
12,-0.019957,-0.020061,0.0,-0.029963,0.020084,0.029932,0.0,0.109998,0.04,0.07002
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,None,None,None,None,None,None,None,None,None,None

In [90]:
er= np.nanmean(returns, axis=0)       #for expected returns of each stock
stddev= np.nanstd(returns, axis=0)    #for standard dev of each stock
print(er)
print(stddev)

[-0.00727998  0.01726992  0.00909117 -0.01727284  0.01819996  0.02272316
  0.01909149  0.06909069  0.00090868  0.0236373 ]
[0.03292297 0.03163885 0.00759218 0.01476646 0.00796712 0.00718785
 0.01801563 0.02596545 0.04571931 0.06749008]

In [92]:
returns.iloc[12]= er       #appends expected return of each stock at row 13
returns.iloc[13]= stddev   #appends std dev of each stock at row 14
returns

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.02,0.0,0.01,-0.04,0.01,0.03,0.01,0.08,0.04,-0.09
3,0.029932,-0.03,0.01,-0.02,0.029703,0.010097,0.029967,0.06,-0.07,0.03
4,-0.059775,0.020029,0.019998,0.0,0.020192,0.029988,0.029992,0.069998,0.020017,0.040009
5,0.009835,0.060064,0.0,0.0,0.019793,0.019784,0.020035,0.040002,0.059966,-0.020004
6,0.04,0.04985,0.009995,0.0,0.0,0.020132,0.030011,0.070006,0.030027,0.019994
7,0.020067,-0.00986,0.0,-0.039966,0.020333,0.03014,0.040033,0.049996,-0.030006,-0.050014
8,-0.010164,0.06001,0.019983,-0.030041,0.019928,0.019854,0.049994,0.099993,-0.059992,0.110011
9,0.030142,-0.010136,0.0,-0.020014,0.009769,0.030055,-0.009978,0.040005,-0.059993,0.169992
10,-0.040193,0.05994,0.020058,-0.010017,0.029903,0.009947,-0.010079,0.029997,0.059965,0.01001
11,-0.059966,0.010132,0.009969,0.0,0.020495,0.020026,0.020031,0.110002,-0.019989,-0.030006
12,-0.019957,-0.020061,0.0,-0.029963,0.020084,0.029932,0.0,0.109998,0.04,0.07002
13,-0.00728,0.01727,0.009091,-0.017273,0.0182,0.022723,0.019091,0.069091,0.000909,0.023637
14,0.032923,0.031639,0.007592,0.014766,0.007967,0.007188,0.018016,0.025965,0.045719,0.06749

In [101]:
data = [[0.1],[0.1],[0.1],[0.1],[0.1],[0.1],[0.1],[0.1],[0.1],[0.1]]
WT = pd.DataFrame(data) #assigning random weights to stocks (transpose)
WT

     0
0  0.1
1  0.1
2  0.1
3  0.1
4  0.1
5  0.1
6  0.1
7  0.1
8  0.1
9  0.1

In [102]:
W= np.transpose(WT)      #transpose of WT (W)
W

     0    1    2    3    4    5    6    7    8    9
0  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1  0.1

In [109]:
portfolio_var = np.matmul(W, np.matmul(covmat, WT))  #W*CovarianceMatrix*WTranspose
portfolio_sd = np.sqrt(portfolio_var)
portfolio_sd

<ipython-input-109-23f094cb9f86>:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  portfolio_var = np.matmul(W, np.matmul(covmat, WT))  #W*CovarianceMatrix*WTranspose

          0
0  0.008556

In [169]:
portfolio_return = np.matmul(er, WT)       #generating portfolio return by multiplying weights with expected returns on each stock
portfolio_return

0    0.015546
dtype: float64

In [126]:
#model = pyo.ConcreteModel() 
#variables
##model.w = Var(W, bounds=(0,1))
#model.port_std = Var(portfolio_sd)
#model.port_ret = Var(portfolio_return)

In [127]:
#constraints Case 1: maximizing return for given risk, for max risk is 4%
#model.limits = ConstraintList()
#model.C1= Constraint(model.w['i'] for i in model.w <= 1.0)
#model.C2= Constraint(model.w['i'] for i in model.w >= 0)
#model.C3= Constraint(model.port_std <= .04)

TypeError: '<=' not supported between instances of 'IndexedVar' and 'float'

In [124]:
#objective
#model.O = Objective(expr = port_ret, sense= maximize)

0    0.1
Name: 7, dtype: float64

In [163]:
#variables
model=pyo.ConcreteModel()
model.port= pyo.Var(range(10),domain=NonNegativeReals)
port= model.port

In [164]:
#constraints
model.C1 = pyo.Constraint(expr = sum(port[i] for i in range(10)) <=1.0)
model.C2 = pyo.Constraint(expr = np.matmul(port, np.matmul(covmat.to_numpy(), np.transpose(port)) <= .04)

SyntaxError: unexpected EOF while parsing (<ipython-input-164-89ff9bccb219>, line 3)

In [171]:
#objective (to maximize return for given risk)
port_return = np.matmul(er,np.transpose(port))
model.O = pyo.Objective(expr=port_return, sense= maximize)

WARNING: Implicitly replacing the Component attribute O (type=<class
    'pyomo.core.base.objective.ScalarObjective'>) on block unknown with a new
    Component (type=<class 'pyomo.core.base.objective.ScalarObjective'>). This
    is usually indicative of a modelling error. To avoid this warning, use
    block.del_component() and block.add_component().

In [172]:
opt = SolverFactory('ipopt')
opt.solve(model)

WARNING: Could not locate the 'ipopt' executable, which is required for solver
    ipopt

ApplicationError: No executable found for solver 'ipopt'